body {
    background-color: #F2F2F2;
}

#overlay {
    width: 600px;
    height: 360px;
    position: absolute;
    z-index: 1;
    background-color: #AAA;
}

#media_control {
    width: 600px;
    height: 60px;
    z-index: 1000;
    opacity: 0.7;
    background-color: #000;
}

#media_control:hover {
    /*opacity: 0.7;*/
}

#progress_slider {
    margin-top: 5px;
    width: 300px;
}

#volume_slider {
    margin-top: 35px;
    width: 100px;
}

#play {
    margin: 10px 20px 10px 10px;
    float: left;
    width: 65px;
    height: 40px;
    background-image: url('../imagefiles/play.png');
}

#play:hover {
    background-image: url('../imagefiles/play-hover.png');
}

#play:press {
    background-image: url('../imagefiles/play-press.png');
}

#pause {
    display: none;
    margin: 10px 20px 10px 10px;
    float: left;
    width: 65px;
    height: 40px;
    background-image: url('../imagefiles/pause.png');
}

#pause:hover {
    background-image: url('../imagefiles/pause-hover.png');
}

#casticonactive {
    float: right;
    margin: 10px 17px 14px 0px;
    width: 32px;
    height: 32px;
    display: none;
    background-image: url('../imagefiles/ic_media_route_on_custom.png');
}

#casticonidle {
    float: right;
    width: 32px;
    height: 32px;
    margin: 10px 17px 14px 0px;
    display: none;
    background-image: url('../imagefiles/ic_media_route_off_custom.png');
}

#audio_off {
    float: right;
    margin: 10px 10px 10px 0px;
    width: 32px;
    height: 32px;
    display: none;
    background-image: url('../imagefiles/audio_off.png');
}

#audio_on {
    float: right;
    width: 32px;
    height: 32px;
    margin: 10px 10px 10px 0px;
    display: block;
    background-image: url('../imagefiles/audio_on.png');
}

/*#audio_bg {*/
    /*float: right;*/
    /*opacity: 0.1;*/
    /*width: 41px;*/
    /*height: 124px;*/
    /*margin: -115px 8px -10px 0px;*/
    /*display: block;*/
    /*background-image: url('../imagefiles/audio_bg.png');*/
    /*position: relative;*/
    /*z-index: 10;*/
/*}*/

/*#audio_bg_track {*/
    /*float: right;*/
    /*opacity: 0.0;*/
    /*width: 16px;*/
    /*height: 100px;*/
    /*margin: -100px 20px -30px 0px;*/
    /*display: block;*/
    /*background-image: url('../imagefiles/audio_bg_track.png');*/
    /*position: relative;*/
    /*z-index: 1000;*/
/*}*/

/*#audio_indicator {*/
    /*float: right;*/
    /*opacity: 0.0;*/
    /*width: 16px;*/
    /*height: 5px;*/
    /*margin: -50px 20px -30px 0px;*/
    /*display: none;*/
    /*background-image: url('../imagefiles/audio_indicator.png');*/
    /*position: relative;*/
    /*z-index: 1000;*/
/*}*/

/*#audio_bg_level {*/
    /*float: right;*/
    /*opacity: 0.0;*/
    /*width: 16px;*/
    /*height: 50px;*/
    /*margin: -50px 20px -30px 0px;*/
    /*display: block;*/
    /*background-image: url('../imagefiles/audio_bg_level.png');*/
    /*position: relative;*/
    /*z-index: 1000;*/
/*}*/

#duration {
    float: right;
    color: #fff;
    width: 60px;
    height: 32px;
    margin: 20px 15px 10px 15px;
    display: block;
}

/*div.imageSub { position: relative; }*/
/*div.imageSub img { z-index: 1; }*/
/*div.imageSub div {*/
/*position: absolute;*/
/*left: 0%;*/
/*right: 0%;*/
/*bottom: 0px;*/
/*padding: 0px;*/
/*}*/
/*div.imageSub div.blackbg {*/
/*z-index: 2000;*/
/*bottom: 60px;*/
/*left: 300px;*/
/*width: 400px;*/
/*height: 30px;*/
/*color: #000;*/
/*background-color: #000;*/
/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
/*filter: alpha(opacity=50);*/
/*opacity: 0.5;*/
/*font-size:120%;*/
/*display:none;*/
/*padding:10px;*/
/*}*/

/*div.imageSub div.label {*/
/*z-index: 3000;*/
/*bottom: 60px;*/
/*left: 300px;*/
/*width: 400px;*/
/*height: 30px;*/
/*color: white;*/
/*font-size:120%;*/
/*display:none;*/
/*padding:10px;*/
/*}*/