body {
    background-color: #F2F2F2;
}

#overlay {
    width: 640px;
    height: 360px;
    position: absolute;
    z-index: 1;
    background-color: #000;
    display: none;
}

#overlay_text {
    text-align: center;
    margin-top: 170px;
    color: white;
}

#media_control {
    width: 640px;
    height: 60px;
    background-color: #000;
}

#media_control:hover {
    /*opacity: 0.7;*/
}

#progress_slider {
    margin-left: 5px;
    width: 630px;
}

#volume_slider {
    margin-left: 5px;
    margin-top: 12px;
    width: 90px;
}

#play {
    margin-left: 5px;
    float: left;
    width: 65px;
    height: 40px;
    background-image: url('../imagefiles/play.png');
    cursor: pointer;
}

#play:hover {
    background-image: url('../imagefiles/play-hover.png');
}

#play:press {
    background-image: url('../imagefiles/play-press.png');
}

#pause {
    display: none;
    margin-left: 5px;
    float: left;
    width: 65px;
    height: 40px;
    background-image: url('../imagefiles/pause.png');
    cursor: pointer;
}

#pause:hover {
    background-image: url('../imagefiles/pause-hover.png');
}

#casticonactive {
    float: right;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 0;
    display: none;
    background-image: url('../imagefiles/ic_media_route_on_custom.png');
    cursor: pointer;
}

#casticonidle {
    float: right;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 0;
    display: none;
    background-image: url('../imagefiles/ic_media_route_off_custom.png');
    cursor: pointer;
}

#audio_off {
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 3px;
    display: none;
    background-image: url('../imagefiles/audio_off.png');
    cursor: pointer;
}

#audio_on {
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 3px;
    display: block;
    background-image: url('../imagefiles/audio_on.png');
    cursor: pointer;
}

#progress {
    font-size: 12px;
    float: left;
    color: #fff;
    margin-left: 10px;
    margin-top: 12px;
    display: block;
}

#duration {
    font-size: 12px;
    float: left;
    color: #c4c4c4;
    margin-left: 10px;
    margin-top: 12px;
    display: block;
}

